body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('MoffatBay/images/PacificNorthwest.jpg') no-repeat center top, #65e9f0;
  background-size: 100% 75%, 100% 50%;
  background-attachment: fixed;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
}

.top-tabs {
  display: flex;
  justify-content: center;
  background-color: #847968;
  padding: 10px 0;
  margin-top: 50px;
}

.top-tabs a {
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.top-tabs a:hover {
  background-color: #4CAF50;
}

.check-in {
	  padding: 5px 15px;
}

.check-out {
	  padding: 5px 15px;
}

.guests {
	  padding: 5px 15px;
}

.content-section {
  padding: 40px 10px;
  text-align: center;
  background: url('') no-repeat center center;
  background-size: cover;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 20px auto;
}

.content-item {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 10px;
  backdrop-filter: blur(5px);
}

.content-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 200%;
}

.content-item p {
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.7);
}

.reservation-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  color: #4CAF50;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.reservation-link:hover {
  color: #333;
}

.bed-options {
	display: grid;
  padding: 1px 15px;
  gap: 5px;
  min-width: 100px;
  margin: 5px auto;
}
