body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #65e9f0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: url('insert our photo') no-repeat center center; /* We need to select a background photo */
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.resort-name {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 20px 0 10px;
}

.top-tabs {
  display: flex;
  justify-content: center;
  background-color: #847968;
  padding: 10px 0;
  margin-top: 10px;
}

 .top-tabs a {
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.top-tabs a:hover {
  background-color: #4CAF50;
}

.content-section {
  padding: 40px 10px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #333;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-item {
  text-align: left;
}

.form-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-item input,
.form-item select,
.form-item textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-item select {
  width: auto;
  min-width: 125px;
}

.form-item textarea {
  resize: none;
  width: 70%;
  max-width: 400px;
  height: 120px;
}

.form-item input[type="number"] {
  width: 50%;
  max-width: 150px;
}

.reservation-btn {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 20px auto;
}

.reservation-btn:hover {
  background-color: #45a049;
}

.back-link {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 16px;
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}
